{% extends 'main.html'%}
{% block content %}
{% load static %}
<!-- header section start -->

<!-- banner section end -->
<!-- contact section start -->
<div class="contact_section">
   <div class="container">
      <div class="contact_section_2">
         <div class="row">
            <div class="col-md-12">
               <h1 class="contact_taital">Get In Touch</h1>
               <form action="" method="POST">
                  {% csrf_token %}
                <div class="mail_section_1">
                   <input type="text" class="mail_text" placeholder="Username" name="username">
                   <input type="text" class="mail_text" placeholder="first name" name="fname">
                   <input type="text" class="mail_text" placeholder="last name" name="lname">
                   <input type="tel" class="mail_text" placeholder="phone" name="phone">
                   <input type="email" class="mail_text" placeholder="address" name="email">
                   <input type="password" class="mail_text" placeholder="password" name="pass1">
                   <input type="password" class="mail_text" placeholder="Comfirm password" name="pass2">
                  
                   <button type="submit" class="send_bt">REGISTER</button>
                
                  </div>
               </form>
            </div>
         </div>
         <!-- order section start -->
         <div class="order_section">
            <div class="order_taital_main">
               <h1 class="order_taital">Order Best food at time</h1>
               <div class="order_bt"><a href="#">Order Now</a></div>
            </div>
         </div>
         <!-- order section end -->
      </div>
   </div>
</div>
<!-- contact section end -->
<!-- footer section start -->{% endblock content %}