{% extends 'main.html'%}
{% block content %}
{% load static %}
<!-- header section start -->

<!-- banner section end -->
<!-- blog section start -->
<div class="blog_section">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <h1 class="blog_taital">Collections Food In city</h1>
         </div>
      </div>
   </div>
</div>
<div class="blog_section_2 layout_padding">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div class="blog_img"><img src="{% static 'images/blog-img1.png' %}"></div>
         </div>
         <div class="col-md-6">
            <div class="blog_taital_main">
               <h1 class="blog_text">This Week going</h1>
               <p class="lorem_text">Long established fact that a reader will be distracted by the readable content of a
                  page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                  distribution of letters, as opposed</p>
               <div class="readmore_btn"><a href="#">Read More</a></div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="blog_img"><img src="{% static 'images/blog-img2.png' %}"></div>
         </div>
         <div class="col-md-6">
            <div class="blog_taital_main">
               <h1 class="blog_text">Just Delivery Food</h1>
               <p class="lorem_text">Long established fact that a reader will be distracted by the readable content of a
                  page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                  distribution of letters, as opposed</p>
               <div class="readmore_btn"><a href="#">Read More</a></div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="blog_img"><img src="{% static 'images/blog-img3.png' %}"></div>
         </div>
         <div class="col-md-6">
            <div class="blog_taital_main">
               <h1 class="blog_text">Newly Opened Cafe</h1>
               <p class="lorem_text">Long established fact that a reader will be distracted by the readable content of a
                  page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                  distribution of letters, as opposed</p>
               <div class="readmore_btn"><a href="#">Read More</a></div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- blog section end -->
{% endblock content %}