{% extends 'main.html'%}
{% block content %}
{% load static %}
<div id="main_slider" class="carousel slide" data-ride="carousel">  ;;
   <div class="carousel-inner">
      <div class="carousel-item active">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="banner_taital">Find The Best Restaurants Cafes And Bars in </h1>
                  <h1 class="banner_text">YOUR CITY</h1>
                  <div class="banner_main">
                     <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Category
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                           <a class="dropdown-item" href="#">Action</a>
                           <a class="dropdown-item" href="#">Another action</a>
                           <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                     </div>
                     <div class="main">
                        <!-- Another variation with a button -->
                        <div class="input-group">
                           <input type="text" class="form-control" placeholder="Search">
                           <div class="input-group-append">
                              <button class="btn btn-secondary" type="button"
                                 style="background-color: #ffffff; border-color:#ffffff ">
                                 <i class="fa fa-search" style="color: #191919;"></i>
                              </button>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="ordernow_bt"><a href="#">Order Now</a></div>
               </div>
            </div>
         </div>
      </div>
      <div class="carousel-item">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="banner_taital">Find The Best Restaurants Cafes And Bars in </h1>
                  <h1 class="banner_text">YOUR CITY</h1>
                  <div class="banner_main">
                     <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Category
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                           <a class="dropdown-item" href="#">Action</a>
                           <a class="dropdown-item" href="#">Another action</a>
                           <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                     </div>
                     <div class="main">
                        <!-- Another variation with a button -->
                        <div class="input-group">
                           <input type="text" class="form-control" placeholder="Search this blog">
                           <div class="input-group-append">
                              <button class="btn btn-secondary" type="button"
                                 style="background-color: #ffffff; border-color:#ffffff ">
                                 <i class="fa fa-search" style="color: #191919;"></i>
                              </button>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="ordernow_bt"><a href="#">Order Now</a></div>
               </div>
            </div>
         </div>
      </div>
      <div class="carousel-item">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="banner_taital">Find The Best Restaurants Cafes And Bars in </h1>
                  <h1 class="banner_text">YOUR CITY</h1>
                  <div class="banner_main">
                     <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Category
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                           <a class="dropdown-item" href="#">Action</a>
                           <a class="dropdown-item" href="#">Another action</a>
                           <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                     </div>
                     <div class="main">
                        <!-- Another variation with a button -->
                        <div class="input-group">
                           <input type="text" class="form-control" placeholder="Search this blog">
                           <div class="input-group-append">
                              <button class="btn btn-secondary" type="button"
                                 style="background-color: #ffffff; border-color:#ffffff ">
                                 <i class="fa fa-search" style="color: #191919;"></i>
                              </button>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="ordernow_bt"><a href="#">Order Now</a></div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
      <i class="fa fa-angle-left"></i>
   </a>
   <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
      <i class="fa fa-angle-right"></i>
   </a>
</div>

<!-- contact section end -->
{% endblock content %}